<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>my ToDo</title>
</head>

<body>
  <h1><%= KindOfDay %></h1>

  <ul>


    <%  for(var i = 0; i< newItems.length; i++){ %>
    <li><%= newItems[i]%></li>
    <%    } %>




  </ul>

  <form action="/" method="post">
    <input type="text" name="newItem" placeholder="new item">
    <button type="submit" name="button">Submit</button>
  </form>





</body>

</html>
